{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class="login flex flex-col justify-center items-center min-h-[90vh]">
    <div class="border rounded-2xl flex flex-col bg-base-300 text-center shadow-lg mx-6 md:mx-4">
        <h1 class="font-bold text-3xl p-4 bg-primary rounded-t-2xl ">Login</h1>

        <form method="POST" action="" class="flex flex-col justify-center items-center gap-2 p-4">
            {% csrf_token %}
            <div class="flex items-center gap-2">
                <label>Username: </label>
                <input type="text" name="username" placeholder="Username" class="form-condivol input w-full max-w-xs">
            </div>

            <div class="flex items-center gap-2">
                <label>Password: </label>
                <input type="password" name="password" placeholder="Password"
                    class="form-condivol input w-full max-w-xs">
            </div>

            <div>
                <label><input class="btn btn-primary" type="submit" value="Login"></label>
            </div>
        </form>

        {% if messages %}
        <div class="p-4 rounded-b-2xl bg-info m-b-sm break-words">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>
    <div class=" text-center p-4 flex flex-col gap-2">
        <div class="font-semibold">Belum mempunyai akun?</div>
        <a href="{% url 'todolist:register' %}" class="btn bg-base-100 hover:bg-base:200">Buat Akun</a>
    </div>

</div>

{% endblock content %}