{% extends 'base.html' %}

{% block meta %}
<title>Todolist</title>
{% endblock meta %}

{% block logout %}
<a class="btn btn-outline btn-error" href="{% url 'todolist:logout' %}">Logout</a>
{% endblock logout %}

{% block content %}
<div class="flex justify-center items-center flex-col gap-10 text-center p-1 w-full">

    <div class="flex flex-col justify-start items-center w-[90vw] md:w-3/5 min-h-screen gap-4">
        {% csrf_token %}
        <div class="flex justify-between items-center w-full">
            <h5 class="font-semibold text-xl p-5">Selamat datang, <span
                    class="text-3xl font-bold text-secondary">{{name}}!</span>
            </h5>
            <a class="btn btn-secondary" href="{% url 'todolist:create_task' %}">Buat Todolist</a>
        </div>
        <div class="text-2xl font-bold text-secondary"><span class="text-3xl text-primary">{{name}}</span>'s todolist:
        </div>
        {% if todo_list %}
        {% for task in todo_list %}
        <div
            class="card w-full md:w-3/5 break-words bg-base-100 shadow-xl text-left glass mt-5 mb-5 transform duration-200 transition hover:scale-105">
            <div class="card-body">
                <div class="card-title justify-between items-center">
                    <div>{{task.title}}</div>
                    <div>
                        {% if task.is_finished %}
                        <div class="alert alert-success rounded-full p-1 animate-pulse">
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-10 w-10"
                                fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                        {% else %}
                        <div class="alert alert-error shadow-lg rounded-full p-1 animate-pulse">
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-10 w-10"
                                fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="font-bold text-[12px]">{{task.date}}</div>
                <p>{{task.description}}</p>
                <div class="card-actions justify-end items-center">
                    <div class="flex w-full items-center justify-between">
                        <div class="flex items-center">
                            <a class="btn btn-ghost" href="{% url 'todolist:delete_task' task.id %}"><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 h-8 text-white">
                                    <path fill="none" d="M0 0h24v24H0z" />
                                    <path
                                        d="M4 8h16v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8zm2 2v10h12V10H6zm3 2h2v6H9v-6zm4 0h2v6h-2v-6zM7 5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v2h5v2H2V5h5zm2-1v1h6V4H9z" />
                                </svg></a>
                        </div>
                        <div class="flex items-center ">
                            <a class="btn btn-primary" href="{% url 'todolist:change_task' task.id %}">Change
                                status</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <br>
        <p class="text-lg">
            Kamu belum membuat todo list, silakan buat dengan mengklik tombol "Buat Todolist" di atas!
        </p>
        <br>
        {% endif %}
    </div>
</div>
{% endblock content %}